<% include partials/header %>

<div class="container">
    <div class="lead"style="padding-bottom:10px;">Results:</div>
    <ul class="list-group" style="max-width: 500px;">
        <% data.Search.forEach(function(movie){ %>
            <% if(movie.Poster != 'N/A'){ %>
                <li class="list-group-item"><a href="/results/<%= movie.imdbID %>"><%= movie.Title %></a></li>
            <% } %>
        <% }) %>
    </ul>
</div>

<% include partials/footer %>